{% extends "blog/base.html" %}
{% block content %}
<section class="zawodnicy">
  <div class="container">
    <h2>Zawodnicy F1</h2>
    <p>W zeszłym tygodniu świat mógł zerknąć na niektóre oceny kierowców F1® 2021, podczas gdy Raikkonen i Giovanazzi, 
      Gasly i Tsunoda oraz Russell i Latifi próbowali zgadywać wyniki kolegów z drużyny. Udało im się? 
      Możecie sami sprawdzić, co się stało, tutaj.
        Nadszedł czas na ujawnienie pełnych ocen kierowców F1® 2021. 
        W trybie „Mój zespół” wcielisz się w rolę kierowcy-właściciela i staniesz 
        przed podjęciem kluczowej decyzji: kto będzie twoim drugim kierowcą?</p>
    <div class="row">
      <div class="col-sm-6">
        <figure>
          <a href="#"><img src="/../media/max.png" alt="Max Verstapen"></a>
          <figcaption>Max Verstapen</figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col">
        <figure>
          <a href="#"><img src="/../media/perez.png" alt="Sergio Perez"></a>
          <figcaption>Sergio Perez</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <a href="#"><img src="/../media/leclerc.png" alt="Charles Leclerc"></a>
          <figcaption>Charles Leclerc</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <a href="#"><img src="/../media/sainz.png" alt="Carols Sainz"></a>
          <figcaption>Carlos Sainz</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <a href="#"><img src="/../media/russell.png" alt="Gorge Russell"></a>
          <figcaption>Gorge Russell</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <a href="#"><img src="/../media/hamilton.png" alt="Lewis Hamilton"></a>
          <figcaption>Lewis Hamilton</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <a href="#"><img src="/../media/giovinazzi.png" alt="Antonio Giovinazzi"></a>
          <figcaption>Antonio Giovinazzi</figcaption>
        </figure>
      </div>
      <div class="col-sm-4">
        <figure>
          <a href="#"><img src="/../media/bottas.png" alt="Valtteri Bottas"></a>
          <figcaption>Valteri Bottas</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
  
{% endblock content %}